<!DOCTYPE html>
<html>
<head>
    <title>Protractor Watcher Plugin Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="HelloController">
        <h2>Hello {{title}} !</h2>
        I have <span ng-bind="friends.length"></span> friends. They are:
        <input type="search" ng-model="q" placeholder="filter friends..." />
        <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="friend in friends | filter:q as results">
                [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </div>
    <script>
        angular.module("myapp", [])
            .controller("HelloController", function ($scope) {
                $scope.title = "World, Protractor-Watcher-Plugin";
                $scope.friends = [
                    { name: 'John', age: 25, gender: 'boy' },
                    { name: 'Jessie', age: 30, gender: 'girl' },
                    { name: 'Johanna', age: 28, gender: 'girl' },
                    { name: 'Joy', age: 15, gender: 'girl' },
                    { name: 'Mary', age: 28, gender: 'girl' },
                    { name: 'Peter', age: 95, gender: 'boy' },
                    { name: 'Sebastian', age: 50, gender: 'boy' },
                    { name: 'Erika', age: 27, gender: 'girl' },
                    { name: 'Patrick', age: 40, gender: 'boy' },
                    { name: 'Samantha', age: 60, gender: 'girl' }
                ];
            });
    </script>
</body>
</html>